.productGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
@media (max-width: 1200px) {
  .productGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .productGrid {
    grid-template-columns: 1fr;
  }
}
