.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}

.pageButton.active {
  background-color: #ffc7c2;
  color: white;
  border-color: #ffc7c2;
  font-weight: bold;
}

.pageButton {
  padding: 8px 14px;
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.pageButton:hover {
  background-color: #ffa39a;
}

.ellipsis {
  padding: 0 4px;
  color: #999;
  font-weight: bold;
}
