.sidebar {
  padding: 10px 0;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  font-size: 22px;
  font-weight: 700;

  color: #333;
}

.menu {
  margin-top: 18px;
  margin-left: 18px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.link {
  text-decoration: none;
  color: #666;
  font-size: 17px;
}

.link:hover {
  color: #ff9a92;
}

/* 반응형 */
@media (max-width: 768px) {
  .sidebar {
    position: static;

    width: auto;
    padding: 10px 20px;

    background: #fff;
    border-bottom: 1px solid #eee;
  }

  .menu {
    flex-direction: row;

    margin-top: 10px;
    margin-left: 0;

    gap: 20px;
  }
}
