.container {
  max-width: 900px;
  margin: 60px auto 90px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 45px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 28px 36px;

  background: #ececec;
  border-radius: 12px;
}

.userName {
  font-size: 20px;
  font-weight: 600;
}

.buttonGroup {
  display: flex;
  gap: 14px;
}

.button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: white;

  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  transition: 0.2s;
}

.button:hover {
  background: #ffc7c2;
}

.menuBox {
  margin-top: 45px;
  padding: 55px 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: #ececec;
  border-radius: 28px;
}

.menu {
  width: 220px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  color: black;
  text-decoration: none;

  transition: transform 0.2s;
}

.menu:hover {
  transform: translateY(-4px);
}

.menu svg {
  color: #ffc7c2;
}

.menu span {
  font-size: 20px;
  font-weight: 600;
}

.bottom {
  margin-top: 30px;
  text-align: center;
}

.cancel {
  display: inline-block;
  padding-top: 20px;

  font-size: 15px;
  color: #888;
  text-decoration: none;

  transition: 0.2s;
}

.cancel:hover {
  color: #e55d5d;
  text-decoration: underline;
}
